@-webkit-keyframes iteration /*the animation of background*/{
  0% {
    background-image: url(image/b1.jpg);
  }
  20% {
    background-image: url(image/b2.jpg);
  }
  40% {
    background-image: url(image/b3.jpg);
  }
  60% {
    background-image: url(image/b4.jpg);
  }
  80% {
    background-image: url(image/b3.jpg);
  }
  100% {
    background-image: url(image/b4.jpg);
  }
}


@-webkit-keyframes iterationcontact /*the animation of background*/{
  0% {
    background: url(image/send-a-note.jpg);
  }
  20% {
    background: url(image/send-b-note.jpg);
  }
  40% {
    background: url(image/send-c-note.jpg);
  }
  60% {
    background: url(image/send-d-note.jpg);
  }
  80% {
    background: url(image/send-d-note.png);
  }
  100% {
    background: url(image/send-a-note.jpg);
  }
}

@-webkit-keyframes iterationcolor{
  0% {
    background-color: blue;
  }
  20% {
    background-color: red;
  }
  40% {
    background-color: yellow;
  }
  60% {
    background-color: lightblue;
  }
  80% {
    background-color: rgb(255,0,0);
  }
  100% {
    background-color: rgb(255,200,100);
  }
}

body{
	background-image: url(image/body_image.jpg);

	opacity:2.5;
}
@-webkit-keyframes mymove /*the font animation of heading*/ {
  from {color: red;}
  to {color: blue;}
}

#header{
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0px;
	margin-bottom: 400px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: ridge;
	border-bottom: 2px;
	resize: vertical;
	overflow: scroll;
	float:none;


}

/*#body{

	margin-bottom: 30px;
	background-image:url(image/top_image.jpg);
	background-repeat: no-repeat;;
	background-attachment: scroll;
	background-size:100% auto;
	opacity:1.5;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	-webkit-animation-name: iterationimage;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: 1000;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	font-size: 100px;
	text-align:center;
	font-family: "Source Sans Pro";
  font-style: oblique;
  color: rgb(102, 0, 204);
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;
}*/

#body { /*the property && and iteration setting of background image*/
	resize: vertical;
	margin-left: 2px;
	margin-right: 2px;
	height: 400px;
	width: 1260px;
	background-size: contain;
	background:url(image/top_image.jpg) center center fixed;
  background-repeat: no-repeat;;
  background-attachment: scroll;

	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  opacity:1.5;

  -webkit-animation-name: iteration;
  -webkit-animation-duration: 10s;

  -webkit-animation-iteration-count: 1000;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;



  /*margin: 0;*/
}



#title{
	margin: 10px;
	font-size: 50px;
	padding:50px;
	border-style: none;

	text-align:center;
	font-family: "Source Sans Pro";
  font-style: oblique;
  color: rgb(102, 0, 204);
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;
  opacity:1.5;
	line-height: 3em;

}

#navigation{

	margin: 0px;
  height: 50px;
  width: 1260px;
  background-color: #EFFBF5;
  border-bottom-style: groove;


}

#home{
  height:50px;
  width:230px;
  float: left;
  font-weight: bold;
  text-align: center;
	color: #7b8b8e;
	transition: color 300ms 0s ease;
}

#aboutus{
	margin-left: 10px;
	height:50px;
  width:230px;
  float: left;
  font-weight: bold;
  text-align: center;
	color: #7b8b8e;
	transition: color 300ms 0s ease;
}

#register_login{
	margin-left: 10px;
	height:50px;
	width:230px;
	float: left;
	font-weight: bold;
	text-align: center;
	color: #7b8b8e;
	transition: color 300ms 0s ease;
}


#contactus{
	margin-left: 10px;
	height:50px;
	width:230px;
	float: left;
	font-weight: bold;
	text-align: center;
	color: #7b8b8e;
	transition: color 300ms 0s ease;
}

#Search{
	margin-left: 10px;
	height:50px;
	width:230px;
	float: left;
	font-weight: bold;
	text-align: center;
	color: #7b8b8e;
	transition: color 300ms 0s ease;
}

#home:hover{
	cursor: pointer;
	background-color: #bcf442;
}

#aboutus:hover{
	cursor: pointer;
	background-color: #bcf442;

}

#register_login:hover{
	cursor: pointer;
	background-color: #bcf442;
}

#contactus:hover{
	cursor: pointer;
	background-color: #bcf442;
}

#Search:hover{
	cursor:pointer;
	background-color: #bcf442;
}

#navigation:hover{
	cursor: no-drop;

}

#about_us_box{
	margin-top: 0px;
  margin-bottom: 300px;
  height: 800px;
  width: 1260px;
  background-color: #EFFBF5;
  border-bottom-style: groove;

}

#about_us_picture_nagivation{
  margin-top: 0;
  border-style: none;
  height: 400px;
  width: 1260px;
}

#car{
  resize: vertical;
	margin-left: 10px;
  margin-top: 100px;
	height: 400px;
	width: 300px;
	background:url(image/car-flat.png);
  background-repeat: no-repeat;;
  background-attachment: scroll;
  /*-moz-background-size: cover;
  -o-background-size: cover;*/
  opacity:1.5;
  position:absolute;
}


#map{
  resize: none;
	margin-left: 500px;
  margin-top: 100px;
	height: 400px;
	width: 300px;
	background:url(image/map2.jpg);
  background-repeat: no-repeat;;
  background-attachment: scroll;
  /*-moz-background-size: cover;
  -o-background-size: cover;*/
  opacity:1.5;
  position:absolute;
}


#review{
  resize: none;
	margin-left: 1000px;
  margin-top: 100px;
	height: 400px;
	width: 300px;
	background:url(image/review_icon.png);
  background-repeat: no-repeat;;
  background-attachment: scroll;
  /*-moz-background-size: cover;
  -o-background-size: cover;*/
  opacity:1.5;
  position:absolute;
}


#navigation_content{

	margin: 0px;
  height: 60px;
  width: 1260px;
  background-color: #EFFBF5;
  border-bottom-style: groove;

}

#carcontent{
 margin-left:0px;
 margin-top: 0px;
 margin-right: 840;
 padding:10px;
 height:60px;
 width:330px;
 border-style: groove;
 position: absolute;
 overflow: scroll;
  font: 15px arial, sans-serif;
 text-align: center;


}

#mapcontent{
  margin-left:420px;
  margin-top: 0px;
  margin-right: 390px;
  padding:10px;
  height:60px;
  width:330px;
  border-style: groove;
  position: absolute;
  overflow: scroll;

	text-align: center;
	 font: 15px arial, sans-serif;
}

#reviewcontent{
  margin-left:840px;
  margin-top: 0px;
  margin-right: 20px;
  padding:10px;
  height:60px;
  width:330px;
  border-style: groove;
  position: absolute;
  overflow: scroll;

	text-align: center;
	font: 15px arial, sans-serif;
}

#search_item{
  margin-top: 133px;
  border-style: groove;
  width:1260px;
  height:600px;
}




#contactus_footer{
margin-top: 0px;
border-style: groove;
margin-bottom: 200px;
width:1260px;
height:800px;
}

#contactus_header{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 1060px;
  width:200px;
  height: 200px;

  background: url(image/send-a-note.jpg) center center fixed;
  background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;;
  background-attachment: scroll;
  -webkit-animation-name: iterationcontact;
  -webkit-animation-duration: 20s;
  background-repeat: no-repeat;;
  background-attachment: scroll;
  -webkit-animation-iteration-count: 1000;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
}

#contactus_header_content{
margin-top: -200px;
margin-right: 0px;
margin-left:220px;
margin-bottom: 200px;
height: 200px;
border-style: groove;
font-size: 100.01%;
font: inherit;
vertical-align: baseline
}
#contactus_header_content h1{
color:#191919;
text-decoration: none;
border-bottom: 1px dotted #00467f;
font-size: 2.3em;
font-weight: bold;
line-height: 1em;
margin-bottom: 10px;
padding-bottom: 10px;
text-align: center;
}

#contactus_header_content h3{
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: dotted 1px #DCD9D9;
  font-size: 1.3em;
 font-weight: bold;
 line-height: 24px;
 padding: 15px 0 0 0;
color: #191919;
}

#wrapper{
  width:35%;
  margin:50px auto;
  padding: 20px;
  background: #EFFFE0;
}
form{
  width:50%;
  margin: 100px auto;
}
form div{
  margin:3px auto;
}
.textinput{
  margin-top: 2px;
  height: 28px;
  border:1px solid #5E6E66;
  font-size: 16px;
  padding: 1px;
  width: 100%;
}

.btn{
  padding: 7px;
  width: 100%;
}
.val_error{
  color:#FF1F1F;
}

.registerleft{
  float: left;
  margin-left:30px;
  left:60px;
  top: 300px;
  position: fixed;
}



.userlogin{
  float:center;
  left:550px;
  top:300px;
/*  position: absolute;*/
  position:fixed;
}

.aboutus{
  float:right;
  right:60px;
  top:300px;
  /*position: absolute;*/
  position:fixed;
}



#register {
  /*width: 100%;
  height: 150;*/




}

#register:hover{
  opacity: 1;
  /*box-shadow: rgb(140, 40, 10);*/
  cursor:pointer
}

#container{
  width:500px;
  margin:auto;
}

/*div.container{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: none;
  border:1px;

  border-bottom-style: groove;
  /*background-image: url(image/container1.jpg);
  border-radius: 0px;
  border-image: url(image/container_border.gif);
  /*-webkit-border-image: url(image/container_border.gif) 30 round; /* Safari 3.1-5 */
/*  -o-border-image: url(image/container_border.gif) 30 round; /* Opera 11-12.1 */


/*div.container {
 overflow-x: scroll;
 overflow-y:hidden;
 width: 600px;
 height:500px;
}
div.image {
width:100px;
height:500px;
float:left;
}*/
